.Home {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

.Home .start-text {
  width: 210px;
  height: 62px;
  margin-top: 45px;
  color: #808080;
  text-align: center;
  font-size: 22px;
  line-height: 140%;
}